<!DOCTYPE html>
<html>
   <head>
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="XN4YmHgE76jTp2kNQ9qnsVSApl6yIQBzdyLe0BnbFks" />
    <base href="{{ .Params.BaseURL }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }} | {{ .Site.Params.description }}</title>
  <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/holder.min.js" type='text/javascript'></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}  
   </head>
   <body>
     {{ partial "nav" . }}
     <div class="jumbotron masthead" role="main">
       <div class="row">
	 <div class="col-md-8 col-md-offset-2">
	   <div class="container ">
       {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
	   </div>
	 </div>
       </div>
 </div>
<!-- start footer --->
 <div class="container footer">
  <div class="row">
    <div class="col-md-10">
      <small class="text-muted">© 2012-2016 <a href="{{.Site.BaseURL}}">eiio</a>, all rights reserved &nbsp;&nbsp;version:1.0.1</small>
    </div>
    <div class="col-md-2">
      <small class="text-muted"> 沪ICP备14014318号-2</small>
      </div>
   </div>
 </div>
{{ template "_internal/google_analytics.html" . }}
</body></html>
