{{ define "main"  }}
<div class="panel panel-default">
  <div class="panel-body">
      <article id='post' >
	<div class='title'> {{ .Title }} </div>
	  {{ if eq .Section "post" }}
	  <span class="text-muted"><ion-icon name="ios-calendar"></ion-icon>Posted by:&nbsp;{{ .Date.Format "Mon Jan 2, 2006" }} | 
	  <ion-icon name="ios-podium"></ion-icon>Word Count: {{ .WordCount }}&nbsp;&nbsp; | 
	  <ion-icon name="ios-time"></ion-icon> Reading Time: {{ .ReadingTime }} Minute&nbsp;&nbsp;</span>
{{ end }}
	  {{ .Content }}

	  {{ if eq .Section "post" }}
	  	  <div class="tags">	

	    <p class="categories">
<ion-icon name="folder"></ion-icon>
	  {{ range .Params.categories }}
	  <a class="btn btn-default btn-xs text-capitalize" href="/categories/{{ . | urlize }}"> {{ . }}</a>
	  {{ end }}
	    </p>
	    {{ partial "post/tag/list" . }}
	    	  </div>
	    {{ end }}

{{ template "_internal/disqus.html" . }}
      </div>
      </div></article>

{{ end }}
