{{ define "main" }}  <div class="panel panel-default">
    <div class="panel-body">
      <div id="post">
	<div class='title'>{{ .Title }}</div>
{{ $data := .Data }}
	<div class="terms">
<div class="terms-title">
        Total : {{ len .Data.Terms }} 
      </div>
<div class="terms-tags">
{{ range .Data.Terms.ByCount }}
{{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}

{{ $special_word := dict "#" "%23" }}
{{ range  $elem_key,$elem_val := $special_word }}
{{ $termLink = replace $termLink $elem_key $elem_val }}
{{ end }}
    <a class="terms-link" href="{{ $termLink }}">{{ .Term }}<em class="terms-count">{{ .Count }}</em>
</a>
    <!-- <ul>
 !--     {{ range .Pages | first 5 }}
 !--     <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
 !--     {{ end }}
 !--     {{ if gt (len .Pages) 5 }}
 !--     <li><a href="{{ $termLink }}">……</a></li>
 !--     {{ end }}
 !-- </ul> -->
    {{ end }}
    </div>
    </div>
</div></div></div>
{{ end }}
