<div class="container footer">
  <div class="row">
    <div class="col-md-10">
      {{.Site.baseurl}}
      <small class="text-muted">© 2012-2016 <a href="/">feiio.com</a>, all rights reserved &nbsp;&nbsp;version:1.0.1</small>
    </div>
    <div class="col-md-2">
      <small class="text-muted"> 沪ICP备14014318号-2</small>
      </div>
   </div>
 </div>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66653712-1', 'auto');
      ga('send', 'pageview');

   </script>
</body></html>
