<header class="navbar navbar-default navbar-fixed-top" id="top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    {{$url:= .Permalink | absLangURL }}
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
	{{ $siteURL:= "/" | absLangURL }}
	{{ range .Site.Menus.main }}
	<li {{ if eq .URL $siteURL }} class="active"  {{end}} ><a href="{{.URL}}">{{.Name}}</a></li>
	{{ end }}
	
<!-- 	<li {{ if eq $url $siteURL }} class="active"  {{end}} ><a href="/">Home</a></li>
 !-- 	<li {{ if eq .Title "Posts" }} class="active"  {{end}}> <a href="/post/" >Posts</a></li>
 !-- 
 !-- 	{{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
 !-- 	{{ if isset .Params "title" }}
 !-- 	{{ $absURL:=.Permalink | absLangURL}}
 !-- 	<li {{ if eq $absURL $url }} class="active"  {{end}}> <a href="{{.Permalink}}" >{{.Title}}</a></li>
 !-- 	{{ end }}
 !-- {{ end }}
 !-- 
 !-- 	{{ $absURL:=.Permalink | absLangURL}}
 !-- 	<li {{ if eq .Title "Tags" }} class="active"  {{end}}> <a href="/tags/" >Tags</a></li> -->
      </ul>
    </nav>
</header>
