{{ define "main" }}
	            <!--- icon container --->
    <div class="panel panel-default">
      <div class="panel-body">
	<div>
	 <span class="text-primary">{{ .Site.Params.description}}</span>
	 <div class="pull-right">

	   <a target="_blank" class="rss"  href="{{ .RSSLink }}"><img src="/images/rss-feed-logo-symbol-icon-10.png" width="25px" height="25px">&nbsp;RSS</a>
	 </div>
	</div>
  {{ range $key, $value := .Site.Taxonomies }}
    {{ if eq $key "categories" }}
<p class="categories">
      {{ range first 10 $value.ByCount }}<a class="btn btn-default btn-xs text-capitalize" href="/{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a>&nbsp;{{ end }}
</p>
  {{ end }}
  {{ end }}
      </div>
    </div>    
<!-- post list --->
    <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<b>Posts</b>
    </div>
    <div class="panel-body" itemtype="http://schema.org/ItemList" itemListElement>
      <div class="list-group">
	{{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}
	{{ range $paginator.Pages }}
	
	<a itemListElement  itemtype="http://schema.org/ListItem" itemscope   href="{{.Permalink}}" class="list-group-item"><span class="badge"  content="{{.Date.Format "Jan 02, 2006"}}" >{{.Date.Format "Jan 02, 2006"}}</span><span itemprop="name">{{.Title}}</span>
	  <meta itemprop="url" content="{{.Permalink}}"/>
</a>
{{ end }}
      </div>
      {{ template "_internal/pagination.html" . }}
    </div>
    </div>
    <!--- end post --->
{{ end }}
